@model ICollection<AuthenticationClientData>

@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, 
    FormMethod.Post, new { Id = "ExternalLogin"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider")
    <div class="externalLogin-container">
        <div class="inset">
            <a class="fb login_button"> 
                <div class="logo_wrapper">
                    <span class="logo"></span>
                </div>
                <span>Facebook ile Giriş Yap</span>
            </a>
        </div>
        <div class="inset">
            <a class="tw login_button">
                <div class="logo_wrapper"><span class="logo"></span></div>
                <span>Twitter ile Giriş Yap</span>
            </a>
        </div>
    </div>
}
