@model EtiketiUstunde.Web.Models.NavigationBarModel

<div class="navbar navbar-fixed-top euNavBar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@Url.Action("Index", "Home")">Etiketi Üstünde</a>
            <div>
                @{
                    if (!Model.IsLoggedInUser)
                    {
                        <ul class="nav pull-right">
                            <li><a href="@Url.Action("Login", "Account")" data-toggle="modal">Giriş yap</a></li>
                            <li><a href="@Url.Action("Register", "Account")">Hesap Aç</a></li>
                        </ul>
                    }
                    else
                    {   
                        Html.RenderPartial("NavigationUserSection", Model.User);
                    }
                }
            </div>
            <ul class="nav">
                <li class="active dropdown">
                @{
                    Html.RenderPartial("CategoryMenu", Model.Divisions);
                }
                <li><a href="#">Popüler</a></li>
                <li><a href="#">Blog</a></li>
                <li class="divider-vertical"></li>
                <li class="divider-vertical"></li>
            </ul>
            <div class="pull-left">
                <a class="btn btn-success" href="#"><i class="icon-plus-sign icon-white" style="margin-right: 5px"></i>Kıyafet Ekle</a>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" href="#"><i class="icon-search icon-white" style="margin-right: 5px"></i>Arama Yap</a>
            </div>
        </div>
    </div>
</div>
