<div class="box col1 first masonry-brick">
    <div class="wrp2 bor6all welcome">
        <h1 class="blue font24 line28 lightShadow tcenter">
            Etiketi Üstünde'ye Hoşgeldiniz
        </h1>
        <br/>
        <div class="tcenter mar10b">
            <span class="line21 font18">Burada gardrobunuzu paylaşabilir, kıyafet alıp satabilirsiniz. </span>
        </div>
        <div class="tcenter mar10b">
            <span class="line21 font18">Az giymiş olduğunuz ya da hiç kullanmadığınız kıyafetlerinizi değerlendirmeye ne dersiniz? </span>
        </div>
        <div class="tcenter mar15b">
            <span class="line21 font18 green">Hesap açıp başlamak çok kolay. Aşağıdaki butona basıp davet talebinde bulunabilirsiniz.</span>      
        </div>
        <div class="tcenter mar10b">
            <a href="#" class="btn btn-success">Davet Almak İstiyorum</a> 
        </div>
    </div>
</div>