<div class="box col1 first masonry-brick">
    <div class="wrp2 bor6all welcome">
        <h1 class="blue font24 line28 lightShadow tcenter">
            EtiketiUstunde'ye Hosgeldiniz
        </h1>
        <br/>
        <div class="tcenter mar10b">
            <span class="line21 font18">Burada gardrobunuzu paylasabilir, kiyafet alip satabilirsiniz. </span>
        </div>
        <div class="tcenter mar10b">
            <span class="line21 font18">Az giymis oldugunuz ya da hic kullanmadiginiz kiyafetlerinizi degerlendirmeye ne dersiniz? </span>
        </div>
        <div class="tcenter mar15b">
            <span class="line21 font18 green">Hesap acip baslamak cok kolay. Asagidaki butona basip davet talebinde bulunabilirsiniz.</span>      
        </div>
        <div class="tcenter mar10b">
            <a href="#" class="btn btn-success">Davet Almak Istiyorum</a> 
        </div>
    </div>
</div>